body{
    background-color: rgb(139, 163, 241);
}
.body{
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    min-width: 300px;  
    max-width: 600px;
}
ul{
    list-style-type:none ;
}
li{
    text-align: left;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}
div {
    border-radius: 5px;
    position: relative;
}
